<%= link_to "Add a restaurant", new_restaurant_path, class: "btn btn-primary"%>
<div class="container">
 <% @restaurants.each do |resto| %>
   <div class="bookmark">
   <a href="<%= restaurant_path(resto) %>">
     <ul class="list-unstyled">
       <li><%= resto.name %></li>
     </ul>
   </a>
   </div>
 <% end %>
</div>


